html {
    background-color: #155517;
}
#bodyLogin{

    margin: auto;
    width: 300px;

}
#cabinsOwned div{
    background-color: darkgray;
    border-bottom: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    padding: 10px;
}

#text{
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#para{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -20px;
    padding: 5px;
}

#form{
    margin: auto;
    border: 4px solid black;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
}

#text1{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#para1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    padding: 5px;
    font-size: larger;
}

#orders div{
    background-color: darkgray;
    border-bottom: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    padding: 10px;
}

#services div{
    background-color: darkgray;
    border-bottom: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    padding: 10px;
}


